<div>
    
    <h1><mat-icon>brightness_auto</mat-icon> Welcome to Angular Material Demo</h1>
    <mat-spinner *ngIf='isLoading' mode="indeterminate" strokewidth='3' [diameter]='30'></mat-spinner>
</div>

<mat-chip-list>
    <mat-chip *ngFor="let category of categories" (click)="selectCategories(category)" [selected]='category.selected'>
        {{ category.name}}</mat-chip>
</mat-chip-list>

<p></p>

<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Neque enim repellendus architecto perferendis molestiae
    accusamus ea adipisci nemo! Laboriosam tenetur et architecto! Reiciendis est nostrum ab illum repellat et maxime.
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Id, ut. Mollitia excepturi, minus perspiciatis adipisci
    laudantium voluptas. Obcaecati labore perferendis inventore harum, optio ipsum sed, rem voluptatibus, quos similique
    ratione? Lorem ipsum dolor sit amet consectetur, adipisicing elit. Distinctio laudantium possimus voluptate. Dolore
    neque praesentium repudiandae perferendis voluptas, possimus ab cupiditate vel quisquam nemo? Ipsa aliquam vero
    quidem accusamus nihil. Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus incidunt dolores
    consectetur iure. Odio, dolorem modi officiis fugiat in quidem labore. Aut accusamus quas ratione minima natus sit
    esse numquam?</p>

<mat-tab-group>
    <mat-tab label="All">All contacts</mat-tab>
    <mat-tab label="Missed">Missed contacts</mat-tab>
    <mat-tab label="Received">Received contacts</mat-tab>
</mat-tab-group>

<mat-checkbox>Check if it works or not... .</mat-checkbox>

<button color='accent' mat-raised-button>Click Me Please</button>

<p></p>

<span matTooltip='Thank you for trying me :p' matTooltipPosition='right'>Hover over me! </span>

<p></p>